*,
*::before,
*::after {
    --radius: 0px !important;
    border-radius: 0px !important;
}

/* カラムの右上のsvg */
.xj9v4 {
    display: none !important;
}

/* ウィジェット[プロフィール]のアイコン背景の白 */
.xtgyD {
    border: none !important;
}
